### Intern take-home Assessment:

In [115]:
import os
import numpy as np
import pandas as pd
import re
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import r2_score, mean_squared_error, make_scorer

* The question is:
"predict what profits MIGHT have been at each of the three candidate locations IF 
the locations had been open and operating during appropriate time periods 
from January 1st through October 30th of 2022. 
Based on these predictions, which location would have likely been the most profitable 
in the first 10 months of 2022 if it had been open for business?

This actually sounds more like hypothetical causal predictions regarding the profits, with Locations as the "intervention/Treatment/Exposure" variable.

### Data preprocessing:

In [3]:
#import all dataset with different format:
directory = "data"
dta_transac = []
dta_other = []
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    if os.path.isfile(f):
        data_type = f.split('.')[0].split('_')[0].split('/')[1] #i.e. transactions, weather, holiday, location
        if data_type == 'transactions' and f.split('.')[-1] == 'txt':
            dta = pd.read_csv(f, sep = "\t")
            dta_transac.append(dta)
        elif data_type == 'transactions' and f.split('.')[-1] == 'json':
            dta = pd.read_json(f)
            dta_transac.append(dta)
        elif data_type == 'transactions' and f.split('.')[-1] == 'csv':
            dta = pd.read_csv(f)
            dta_transac.append(dta)
        else:
            dta = pd.read_csv(f)
            dta_other.append(dta)

In [4]:
#concatenate all of the transaction data together
data_transac = pd.concat(dta_transac)

In [5]:
#unify the format of the profit data using regular expression.
profit = []
for i in data_transac.profit:#.str[2:]:
    #print(i)
    #print(type(str(i)))
    res = re.sub('[-$]', '', str(i))
    profit.append(float(str(res)))
data_transac['profit'] = profit

##### Concatenate all other variables except transactions:

In [6]:
#firstly, combine the holiday with the location data:
dta = dta_other[0].merge(dta_other[1], how = 'left', on = 'date')
dta = dta.fillna(0) #fill out the holiday indicator to be 0 for missing values in holiday
dta.holiday = dta.holiday.astype(int)

In [7]:
#secondly, combine the merged data with location data (i.e., population, elevation)
dta = dta.merge(dta_other[2], how = 'left', on = 'location_id')

In [56]:
#thirdly, aggregate the profits for each location for each date:
dta_tran_agg = (data_transac
    .groupby(['location_id', 'date'])
    ['profit'].sum()
    .reset_index(level=[0,1]))
dta_tran_agg['date'] = pd.to_datetime(dta_tran_agg.date).dt.strftime('%m-%d-%Y')

In [57]:
dta_tran_agg

      location_id        date  profit
0               1  01-02-2019  430.96
1               1  01-03-2019  416.90
2               1  01-04-2019  280.16
3               1  01-05-2019  415.98
4               1  01-06-2019  412.20
...           ...         ...     ...
7637           10  09-07-2022  432.25
7638           10  09-08-2022  405.04
7639           10  09-09-2022  124.59
7640           10  09-10-2022  374.87
7641           10  09-11-2022  353.26

[7642 rows x 3 columns]

In [91]:
dta

,location_id,date,temperature,pressure,humidity,cloudy,precipitation,holiday,population,elevation
0,3,2020-01-22,18.14,1035.058685,0.44,True,False,0,74138,505
1,8,2022-01-29,14.36,1027.253521,0.95,True,False,0,52185,398
2,5,2021-11-28,35.42,994.694836,0.37,False,False,0,12686,386
3,6,2021-10-12,37.94,1003.838028,0.11,True,True,0,86372,435
4,2,2020-12-03,23.36,1027.476526,0.60,False,False,0,32926,274
...,...,...,...,...,...,...,...,...,...,...
17273,6,2022-07-03,78.98,966.819249,0.88,True,True,0,86372,435
17274,6,2020-02-20,9.68,971.948357,0.53,False,False,0,86372,435
17275,10,2020-10-02,41.18,1013.873239,0.90,False,False,0,425336,266
17276,1,2019-12-15,15.08,990.457746,0.74,False,False,0,18428,375
17277,6,2020-12-12,21.92,976.854460,0.59,True,True,0,86372,435

In [70]:
#change the format to make sure that the transaction data and other information are using the same date format
dta['date'] = pd.to_datetime(dta.date).dt.strftime('%Y-%m-%d')
dta_tran_agg['date'] = pd.to_datetime(dta_tran_agg.date).dt.strftime('%Y-%m-%d')

In [73]:
#merge the aggregated transaction data with the other characteristics of the different location
final_data = dta_tran_agg.merge(dta, on = ['location_id', 'date'], how = 'left')
#use last observation carry forward for the missing data:
final_data = final_data.sort_values(['location_id', 'date'], ascending = [True, True])
final_data = final_data.ffill(axis = 0)

### Modeling

In [81]:
#define X and y data:
X = np.array(final_data.iloc[:, 3:])
y = np.array(final_data.iloc[:, 2])

In [84]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [123]:
from sklearn import metrics
metrics.get_scorer_names()

['accuracy',
 'adjusted_mutual_info_score',
 'adjusted_rand_score',
 'average_precision',
 'balanced_accuracy',
 'completeness_score',
 'explained_variance',
 'f1',
 'f1_macro',
 'f1_micro',
 'f1_samples',
 'f1_weighted',
 'fowlkes_mallows_score',
 'homogeneity_score',
 'jaccard',
 'jaccard_macro',
 'jaccard_micro',
 'jaccard_samples',
 'jaccard_weighted',
 'matthews_corrcoef',
 'max_error',
 'mutual_info_score',
 'neg_brier_score',
 'neg_log_loss',
 'neg_mean_absolute_error',
 'neg_mean_absolute_percentage_error',
 'neg_mean_gamma_deviance',
 'neg_mean_poisson_deviance',
 'neg_mean_squared_error',
 'neg_mean_squared_log_error',
 'neg_median_absolute_error',
 'neg_root_mean_squared_error',
 'normalized_mutual_info_score',
 'precision',
 'precision_macro',
 'precision_micro',
 'precision_samples',
 'precision_weighted',
 'r2',
 'rand_score',
 'recall',
 'recall_macro',
 'recall_micro',
 'recall_samples',
 'recall_weighted',
 'roc_auc',
 'roc_auc_ovo',
 'roc_auc_ovo_weighted',
 'roc_auc_ovr',
 'roc_auc_ovr_weighted',
 'top_k_accuracy',
 'v_measure_score']

In [125]:
#split the data to training and testing:
#X_train, X_test, y_train, y_test = train_test_split()
lasso = Lasso(random_state=0, max_iter=10000)
alphas = np.logspace(-4, -0.5, 30)
tuned_parameters = [{"alpha": alphas}]
n_folds = 5
clf = GridSearchCV(lasso, tuned_parameters, cv=n_folds, refit=True, scoring='neg_mean_squared_error')
clf.fit(X, y)
best_params = clf.best_params_
model = clf.best_estimator_
score = clf.best_score_

In [120]:
clf.cv_results_

{'mean_fit_time': array([0.0120542 , 0.02371349, 0.0098978 , 0.0345118 , 0.02376399,
        0.01623611, 0.02529807, 0.02916112, 0.03901191, 0.02121887,
        0.01761088, 0.03195624, 0.03515086, 0.02836967, 0.02421446,
        0.03196068, 0.02499423, 0.05088301, 0.02816358, 0.02321358,
        0.02775588, 0.02492247, 0.0133472 , 0.01749611, 0.01918931,
        0.02450719, 0.02474127, 0.02141933, 0.01858087, 0.02311859]),
 'std_fit_time': array([0.00532864, 0.01032326, 0.00517018, 0.01487862, 0.00720043,
        0.00875989, 0.00757787, 0.01269826, 0.02990123, 0.0116807 ,
        0.01330567, 0.01914588, 0.01248997, 0.00872333, 0.01178182,
        0.00950611, 0.01312294, 0.01791085, 0.02190876, 0.00956946,
        0.01355197, 0.01604505, 0.00546621, 0.00437622, 0.00235939,
        0.01149665, 0.01454114, 0.01467519, 0.00742774, 0.01553463]),
 'mean_score_time': array([0.00589218, 0.00605931, 0.00493312, 0.02569232, 0.01832519,
        0.01820898, 0.0156899 , 0.02952089, 0.01344023, 0.00821981,
        0.00953102, 0.02454662, 0.01974158, 0.01853762, 0.01348934,
        0.02873578, 0.02286973, 0.02478552, 0.02045074, 0.0193985 ,
        0.01888113, 0.01814809, 0.00905175, 0.01272368, 0.00986152,
        0.01394982, 0.01247373, 0.00936308, 0.01991096, 0.01429672]),
 'std_score_time': array([0.00172101, 0.00397594, 0.00314174, 0.01694981, 0.01299313,
        0.01650682, 0.0090693 , 0.01482762, 0.00896518, 0.00580802,
        0.00865876, 0.01699035, 0.00289892, 0.0029901 , 0.01185145,
        0.01219712, 0.00614115, 0.00953086, 0.0039093 , 0.01165796,
        0.00754873, 0.0058176 , 0.00401315, 0.00500173, 0.00419974,
        0.00517504, 0.00634665, 0.0039627 , 0.00663943, 0.00621514]),
 'param_alpha': masked_array(data=[0.0001, 0.00013203517797162948, 0.00017433288221999874,
                    0.00023018073130224678, 0.0003039195382313198,
                    0.0004012807031942776, 0.0005298316906283707,
                    0.0006995642156712634, 0.0009236708571873865,
                    0.0012195704601594415, 0.0016102620275609393,
                    0.0021261123338996556, 0.0028072162039411755,
                    0.0037065129109221566, 0.004893900918477494,
                    0.006461670787466976, 0.008531678524172814,
                    0.011264816923358867, 0.014873521072935119,
                    0.0196382800192977, 0.02592943797404667,
                    0.03423597957607583, 0.04520353656360245,
                    0.05968456995122311, 0.07880462815669913,
                    0.10404983103657853, 0.1373823795883264,
                    0.1813930693911063, 0.2395026619987486,
                    0.31622776601683794],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'alpha': 0.0001},
  {'alpha': 0.00013203517797162948},
  {'alpha': 0.00017433288221999874},
  {'alpha': 0.00023018073130224678},
  {'alpha': 0.0003039195382313198},
  {'alpha': 0.0004012807031942776},
  {'alpha': 0.0005298316906283707},
  {'alpha': 0.0006995642156712634},
  {'alpha': 0.0009236708571873865},
  {'alpha': 0.0012195704601594415},
  {'alpha': 0.0016102620275609393},
  {'alpha': 0.0021261123338996556},
  {'alpha': 0.0028072162039411755},
  {'alpha': 0.0037065129109221566},
  {'alpha': 0.004893900918477494},
  {'alpha': 0.006461670787466976},
  {'alpha': 0.008531678524172814},
  {'alpha': 0.011264816923358867},
  {'alpha': 0.014873521072935119},
  {'alpha': 0.0196382800192977},
  {'alpha': 0.02592943797404667},
  {'alpha': 0.03423597957607583},
  {'alpha': 0.04520353656360245},
  {'alpha': 0.05968456995122311},
  {'alpha': 0.07880462815669913},
  {'alpha': 0.10404983103657853},
  {'alpha': 0.1373823795883264},
  {'alpha': 0.1813930693911063},
  {'alpha': 0.2395026619987486},
  {'alpha': 0.31622776601683794}],
 'split0_test_score': array([-91.24828705, -91.24828905, -91.2482915 , -91.24829474,
        -91.24829902, -91.248305  , -91.24831246, -91.24832231,
        -91.24833609, -91.24835326, -91.24837594, -91.24840766,
        -91.24844719, -91.24849939, -91.24857243, -91.24866342,
        -91.24878356, -91.24895159, -91.24916104, -91.24943758,
        -91.24982386, -91.25030596, -91.25094251, -91.25182976,
        -91.25301953, -91.25459978, -91.25668628, -91.25944118,
        -91.26308509, -91.26824576]),
 'split1_test_score': array([-90.29256372, -90.29257346, -90.2925863 , -90.29260341,
        -90.29262581, -90.29265539, -90.29269478, -90.29274634,
        -90.29281441, -90.2929043 , -90.2930238 , -90.2931805 ,
        -90.29338741, -90.29366254, -90.29402324, -90.29449949,
        -90.29513291, -90.29596317, -90.29705941, -90.29851759,
        -90.30042869, -90.30295202, -90.30631661, -90.3107479 ,
        -90.31659875, -90.32432394, -90.33452391, -90.34799145,
        -90.36577335, -90.38968449]),
 'split2_test_score': array([-90.92124042, -90.92124575, -90.92125256, -90.92126156,
        -90.92127384, -90.92128953, -90.92131024, -90.92133851,
        -90.92137462, -90.9214223 , -90.92148739, -90.92157052,
        -90.92168027, -90.92182518, -90.92202144, -90.92227407,
        -90.92260762, -90.92305936, -90.92364085, -90.92440864,
        -90.92544821, -90.92679846, -90.92869364, -90.93111978,
        -90.93432315, -90.93855272, -90.94413724, -90.95151661,
        -90.96161347, -90.97494747]),
 'split3_test_score': array([-97.63324003, -97.63323618, -97.63323113, -97.6332244 ,
        -97.63321553, -97.63320391, -97.63318843, -97.63316799,
        -97.63314127, -97.63310564, -97.6330586 , -97.63299711,
        -97.6329151 , -97.63280682, -97.63266536, -97.63247658,
        -97.63222733, -97.63190187, -97.63146734, -97.63089361,
        -97.6301448 , -97.6291446 , -97.62782398, -97.6261011 ,
        -97.62379882, -97.62075899, -97.61674534, -97.61144592,
        -97.6046513 , -97.5957061 ]),
 'split4_test_score': array([-106.68033185, -106.67908688, -106.67745055, -106.67529003,
        -106.67242514, -106.66865863, -106.66368551, -106.657093  ,
        -106.64842322, -106.63697693, -106.62187225, -106.60200231,
        -106.57576701, -106.54112717, -106.49531157, -106.43531601,
        -106.35629208, -106.25206355, -106.11580309, -105.93713684,
        -105.70275469, -105.39572977, -104.99300713, -104.47195773,
        -103.79802531, -102.92407908, -101.79607829, -100.37443864,
         -98.55625281,  -96.2529764 ]),
 'mean_test_score': array([-95.35513262, -95.35488626, -95.35456241, -95.35413483,
        -95.35356787, -95.35282249, -95.35183828, -95.35053363,
        -95.34881792, -95.34655249, -95.3435636 , -95.33963162,
        -95.3344394 , -95.32758422, -95.31851881, -95.30664591,
        -95.2910087 , -95.27038791, -95.24342635, -95.20807885,
        -95.16172005, -95.10098616, -95.02135677, -94.91835125,
        -94.78515311, -94.6124629 , -94.38963421, -94.10896676,
        -93.7502752 , -93.29631204]),
 'std_test_score': array([6.25467978, 6.25422606, 6.25362976, 6.25284244, 6.25179847,
        6.25042601, 6.24861396, 6.24621203, 6.24305358, 6.23888425,
        6.2333828 , 6.22614753, 6.21659742, 6.20399242, 6.18732865,
        6.16552247, 6.13682471, 6.09901738, 6.04967047, 5.98510116,
        5.90063753, 5.79044115, 5.64668046, 5.46213711, 5.22613838,
        4.92531837, 4.54753542, 4.09286503, 3.56009094, 3.00589166]),
 'rank_test_score': array([30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14,
        13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1], dtype=int32)}

In [92]:
#retrieve the data to be predicted from location 11, 12, 13:
data_new = dta.loc[dta.location_id.isin([11, 12, 13])]

In [95]:
X_new = scaler.transform(np.array(data_new.iloc[:, 2:]))

In [96]:
X_new

array([[ 1.27535861, -0.56733972,  0.91063665, ...,  0.        ,
        -0.03786037, -0.48899485],
       [ 0.58880963,  0.45330921,  0.97630605, ...,  0.        ,
        -0.03786037, -0.48899485],
       [-0.48907227, -1.41048449, -1.4862966 , ...,  0.        ,
        -0.03786037, -0.48899485],
       ...,
       [ 1.0831249 ,  1.2077019 ,  0.25394261, ...,  0.        ,
         0.40601667,  0.520491  ],
       [ 0.67119551,  0.84381836,  0.2211079 , ...,  0.        ,
         1.03888734,  0.95640534],
       [-0.13893229,  1.41183168,  0.31961201, ...,  0.        ,
         0.40601667,  0.520491  ]])

In [101]:
#predict the profit:
data_new.loc[:, 'predicted_profit'] = clf.predict(X_new)

/var/folders/wx/yg6t278534bcmkcnbt_lz9zw0000gn/T/ipykernel_64079/1053935968.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_new.loc[:, 'predicted_profit'] = clf.predict(X_new)

In [103]:
data_new.groupby('location_id')['predicted_profit'].sum()

location_id
11    381407.403956
12    384135.842769
13    370910.810672
Name: predicted_profit, dtype: float64